.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.top-left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.bring-Everyone {
  width: 450px;
  text-align: left;
  font-size: 50px;
  color: hsl(228, 39%, 23%);
}

.manage-text {
  width: 350px;
  text-align: left;
  color: hsl(227, 12%, 61%);
  font-size: 16px;
  line-height: 1.6;
}

.content-Started-btn {
  background-color: hsl(12, 88%, 59%);
  color: #fff;
  height: 55px;
  outline: none;
  border-radius: 50px;
  border: none;
  padding: 10px 30px 10px 30px;
  box-shadow: 0px 11px 15px -2px rgba(242, 95, 58, 0.54);
  cursor: pointer;
  transition: 0.3s;
}

.content-Started-btn:hover {
  opacity: 0.7;
}

.top-right-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics-img {
  width: 530px;
}

.bottom-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.bottom-left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.different-Manage {
  width: 540px;
  font-size: 45px;
  text-align: left;
  color: hsl(228, 39%, 23%);
}

.different-Manage-text {
  width: 340px;
  text-align: left;
  color: hsl(227, 12%, 61%);
  font-size: 16px;
  line-height: 1.6;
}

.bottom-right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.statement-One-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.title-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

.orange-One {
  background-color: hsl(12, 88%, 59%);
  color: #fff;
  border-radius: 20px;
  padding: 9px 25px 10px 25px;
}

.track-company {
  text-align: center;
  color: hsl(228, 39%, 23%);
  font-weight: 600;
}

.description-one {
  color: hsl(227, 12%, 61%);
  width: 480px;
  text-align: left;
  line-height: 1.6;
  padding: 20px;
  margin-left: 85px;
}

.statement-Two-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.title-two {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange-Two {
  background-color: hsl(12, 88%, 59%);
  color: #fff;
  border-radius: 20px;
  padding: 9px 25px 10px 25px;
  margin: 0 30px 0 0;
}

.advanced-built {
  text-align: left;
  color: hsl(228, 39%, 23%);
  padding-right: 40px;
  font-weight: 600;
}

.description-Two {
  color: hsl(227, 12%, 61%);
  width: 490px;
  text-align: left;
  line-height: 1.6;
  padding: 20px;
  margin-left: 85px;
}

.statement-Three-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.title-three {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.orange-Three {
  background-color: hsl(12, 88%, 59%);
  color: #fff;
  border-radius: 20px;
  padding: 9px 25px 10px 25px;
}

.everything {
  text-align: center;
  color: hsl(228, 39%, 23%);
  font-weight: 600;
}

.description-Three {
  color: hsl(227, 12%, 61%);
  width: 410px;
  text-align: left;
  line-height: 1.6;
  padding: 20px;
  margin-left: 85px;
}

@media screen and (max-width: 700px) {
  .content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .tabletImg {
    position: absolute;
    z-index: -1;
  }

  .top-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .top-left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .bring-Everyone {
    width: 450px;
    font-size: 40px;
    text-align: center;
    color: hsl(228, 39%, 23%);
  }

  .manage-text {
    width: 300px;
    text-align: center;
    color: hsl(227, 12%, 61%);
    font-size: 15px;
    line-height: 1.6;
  }

  .content-Started-btn {
    background-color: hsl(12, 88%, 59%);
    color: #fff;
    height: 55px;
    outline: none;
    border-radius: 50px;
    border: none;
    padding: 10px 30px 10px 30px;
    box-shadow: 0px 11px 15px -2px rgba(242, 95, 58, 0.54);
    cursor: pointer;
  }

  .top-right-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .statistics-img {
    width: 350px;
  }

  .bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .bottom-left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .different-Manage {
    width: 450px;
    font-size: 40px;
    text-align: center;
    color: hsl(228, 39%, 23%);
  }

  .different-Manage-text {
    width: 310px;
    text-align: center;
    color: hsl(227, 12%, 61%);
    font-size: 15px;
    line-height: 1.6;
  }

  .bottom-right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  .statement-One-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .title-one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
  }

  .orange-One {
    background-color: hsl(12, 88%, 59%);
    color: #fff;
    border-radius: 20px;
    padding: 9px 25px 10px 25px;
  }

  .track-company {
    text-align: center;
    color: hsl(228, 39%, 23%);
    font-weight: 600;
  }

  .description-one {
    color: hsl(227, 12%, 61%);
    width: 387px;
    text-align: left;
    line-height: 1.6;
    padding: 20px;
    margin-left: 0;
  }

  .statement-Two-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .title-two {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .orange-Two {
    background-color: hsl(12, 88%, 59%);
    color: #fff;
    border-radius: 20px;
    padding: 9px 25px 10px 25px;
    margin: 0 30px 0 0;
  }

  .advanced-built {
    text-align: center;
    color: hsl(228, 39%, 23%);
    padding-right: 40px;
    font-weight: 600;
  }

  .description-Two {
    color: hsl(227, 12%, 61%);
    width: 387px;
    text-align: left;
    line-height: 1.6;
    padding: 20px;
    margin-left: 0;
  }

  .statement-Three-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .title-three {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .orange-Three {
    background-color: hsl(12, 88%, 59%);
    color: #fff;
    border-radius: 20px;
    padding: 9px 25px 10px 25px;
  }

  .everything {
    text-align: center;
    color: hsl(228, 39%, 23%);
    font-weight: 600;
  }

  .description-Three {
    color: hsl(227, 12%, 61%);
    width: 387px;
    text-align: left;
    line-height: 1.6;
    padding: 20px;
    margin-left: 0;
  }
}
